<!DOCTYPE html>
<html>
<head>
  <title>ぴよった-</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <header>
    <div class="header-logo">
      <% if @current_user %>
      <%= link_to("ぴよったー", posts_path) %>
      <% else %>
      <%= link_to("ぴよったー", "/") %>
      <% end %>
    </div>
    <ul class="header-menus">
      <% if @current_user %>
      <li>
        <%= link_to(@current_user.name, "/hiyokos/#{@current_user.id}") %>
      </li>
      <li>
        <h3><%= link_to("さえずり", posts_path) %></h3>
      </li>
      <li>
        <h3><%= link_to("つぶやく", new_post_path) %></h3>
      </li>
      <li>
        <h3><%= link_to("ひよこの友達", hiyokos_path) %></h3>
      </li>
      <li>
        <h3><%= link_to("かえる", "/logout", {method: :post}) %></h3>
      </li>
      <% else %>
      <li>
        <h3><%= link_to("ひよこくらぶ", about_path) %></h3>
        <li>
          <h3><%= link_to("とーろく", new_hiyoko_path) %></h3>
        </li>
        <li>
          <h3><%= link_to("遊びに行く", login_path) %></h3>
        </li>
        <% end %>
      </ul>
    </header>



    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <%= yield %>
  </body>
  </html>
