<!DOCTYPE html>
<html>
<head>
  <title>PiyoApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <header>
    <div class="header-logo">
      <% if @current_user %>
      <%= link_to("PiyoApp", posts_path) %>
      <% else %>
      <%= link_to("PiyoApp", "/") %>
      <% end %>
    </div>
    <ul class="header-menus">
      <% if @current_user %>
      <li>
        <%= link_to(@current_user.name, "/hiyokos/#{@current_user.id}") %>
      </li>
      <li>
        <h3><%= link_to("投稿一覧", posts_path) %></h3>
      </li>
      <li>
        <h3><%= link_to("新規投稿", new_post_path) %></h3>
      </li>
      <li>
        <%= link_to("ユーザー一覧", hiyokos_path) %>
      </li>
      <li>
        <%= link_to("ログアウト", "/logout", {method: :post}) %>
      </li>
      <% else %>
      <li>
        <h3><%= link_to("ひよこくらぶ", "/about") %></h3>
      <li>
          <%= link_to("新規登録", new_hiyoko_path) %>
      </li>
      <li>
          <%= link_to("ログイン", "/login") %>
      </li>
        <% end %>
      </ul>
    </header>



    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <%= yield %>
  </body>
  </html>
